  /* :root{ 
    --primary-color: #013a23;
    --secondary-color: #9ad432;
    --light-color: #ebf1db;
    --tertiary-color1: #fff20d;
    --tertiary-color2: #bf2a1d;  */

*{
    box-sizing: border-box;
}
body{
    margin: 2rem, 5rem;
    background-color: #ebf1db;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    color: #1b1b1b;
}
.heading-h2{
    font-weight: 500;
    padding: .5rem 0;
    margin: 1.5rem auto;
    border-bottom: 3px solid #013a23;
    width: fit-content;
}

.white{
    color: #ffffff;
} 

/* HEADER */

.nav-main{
    position:fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
}
.heading-h2{
    font-weight: 500;
    padding: .5rem 0;
    margin: 1.5rem auto;
    border-bottom: 3px solid #013a23;
    width: fit-content;
} 
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 2rem;
}

.btn-toggle-nav{
    width: 60px;
    height: 100%;
    background-color: #013a23;
    display: grid;
    place-content: center;
    cursor: pointer;
    visibility: hidden;
}

.btn-toggle-nav:hover{
    opacity: 0.7;
}
.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.nav-main ul li{
    list-style: none;
    line-height: 60px;
}

.nav-main ul li a{
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    transition: all;
    transition-duration: .1s;
    transition-timing-function: linear;
}

.nav-main ul li a:hover{
    color: #bf2a1d ;
    font-size: 1.3rem;
}

/* SIDEBAR */

.nav-sidebar{
    position: fixed;
    left: -10px;
    bottom: 0;
    width: 0;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 1000;
    transition: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.nav-sidebar ul{
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li{
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
}

.nav-sidebar ul li a:hover{
    background-color: #222;
}

img{
    margin-top: 5rem;
    margin-left: 15%;
    height: 20rem;
    width: 70%;
}
h1{
    color: #9ad432;
}
#consent{
    font-style: bolder;
    font-weight: 800;
}
.content{
    margin-left: 30%;
    padding-top: 3rem;
    padding-left: 3rem;
}
/* form */
form{
    margin-bottom: 2rem;
     padding: 2rem 5rem;
background-color:#FFFF;
max-width: max-content;
border-radius: 2rem;
}

#id{
    color: #013a23;
}

button{
    background-color: #013a23;
    margin: 10rem,2rem;
    padding: 10px,15px; 
    height: 3rem;
    width: 7rem;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color:  #bf2a1d;
}


/* ||FOOTER */
footer{
    background-color: #013a23;
    color: #fff;
    border-radius: .5rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}
footer nav{
    padding: 0 1rem;
}
footer nav ul li{
    list-style: none;
}
footer nav ul li a{
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    transition: all;
    transition-duration: .1s;
    transition-timing-function: linear;
}
footer nav ul li a:hover{
    color: #bf2a1d;
} 
.social-icons{
    display: flex;
}
.fab{
    font-size: 24px;
    color: #f4f4f4;
    cursor: pointer;
    padding: 0 .5rem;
}
.fa-facebook:hover{
    color: rgb(6, 127, 226);
}
.fa-instagram:hover{
    color: transparent;
button:hover{
    background-color: #9ad432;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }