:root{
    --primary-color: #013a23;
    --secondary-color: #9ad432;
    --light-color: #ebf1db;
    --tertiary-color1: #fff20d;
    --tertiary-color2: #bf2a1d;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--light-color);
    font-family: arial;
    font-size: 16px;
}

/* HEADER */

.nav-main{
    position:fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
}

.header-logo{
    display: grid;
    place-content: center;
    padding: 0 1rem;

}

.btn-toggle-nav{
    width: 60px;
    height: 100%;
    background-color: var(--secondary-color);
    display: grid;
    place-content: center;
    cursor: pointer;
    visibility: hidden;
}

.btn-toggle-nav:hover{
    opacity: 0.7;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.nav-main ul li{
    list-style: none;
    line-height: 60px
}

.nav-main ul li a{
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
}

/* SIDEBAR */

.nav-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0px;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 1000;
    transition: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.nav-sidebar ul{
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li{
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
}

.nav-sidebar ul li a:hover{
    background-color: #222;
}

/* MAIN */

main{
    position: relative;
}

.hero{
    position: absolute;
    top: 50px;
    
    /* margin-top: 50px; */
}

/* MAIN */

.blanks{
    border: 2px solid black;
    width: 15rem;
    height: 15rem;
    background: linear-gradient(to bottom right, rgb(146, 144, 144), rgb(20, 0, 0));
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-content: center;
}

/* ||FOOTER */

footer{
    background-color: var(--primary-color);
    color: #fff;
}

.footer-grid{
    display: flex;
    justify-content: space-evenly;
}

.author{
    display: flex;
    flex-direction: column;
}

footer .footer-grid nav{
    display: flex;
    flex-direction: column;
}

footer .footer-grid nav ul li{
    list-style: none;
}

footer .footer-grid nav ul li a{
    text-decoration: none;
    color: #fff;
}

.socials-icon{
    display: flex;
    justify-content: space-evenly;
}

.fab{
    font-size: 24px;
    color: #f4f4f4;
    cursor: pointer;
}

.fa-github:hover{
    color: black;
}

.fa-facebook:hover{
    color: rgb(6, 127, 226);
}

.fa-instagram:hover{
    color: purple;
}

.fa-twitter:hover{
    color: #047aed;
}



